{% extends 'base_layout.html' %} {% load add_class %} {% load static %}
{% block title %} Inspection Module {% endblock %}
{% block content %}
<h1>Add Inspection Date</h1><hr/>
<form method="post">{% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        {% for error in field.errors %}
        <small class="text-danger">{{ error }}</small>
        {% endfor %}
        {% if field.field.widget.input_type == 'checkbox' %}
        <div class="form-check">
        {{ field|add_class:"form-check-input" }}
        {% else %}<div class="form-group">
        {{ field|add_class:"form-control" }} 
        {% endif %}
        {% if field.help_text %}
        <small class="text-muted">{{ field.help_text|safe }}</small>
        {% endif %}   
        </div>
    </div>
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Save">
</form>
{% endblock %}
{% block script %}<script src="{% static 'js/inspections/app.js' %}"></script>{% endblock %}