{% extends 'base_layout.html' %} {% load add_class %}

{% block title %}Add Equipment{% endblock %}

{% block content %}
<h1>Add new Equipment</h1>
<p></p>
<form method="post">{% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.label_tag }}
        <div class="form-group">
        {{ field|add_class:"form-control" }} 
        {% if field.help_text %}
        <small class="text-muted">{{ field.help_text|safe }}</small>
        {% endif %}   
        </div>
    </div>
    {% endfor %}
    <input type="submit" value="Save">
</form>
{% endblock %}