{% extends 'base_layout.html' %}

{% spaceless %}
{% block title %}Home Page{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <h1>Dashboard</h1>
    <p>Today's Date : {{ date_today }}</p>

    {% if instance_list %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Serial Number</th>
                <th>Item Description</th>
                <th>Allocation</th>
                <th>Item Status</th>
                <th>Expiry Date</th>
                <th>Days Remaining</th>
            </tr>    
        </thead>

        <tbody>
            {% for cert in instance_list %}
            <tr>
                <td>{{cert.material_instance.serial_number}}</td>
                <td>{{cert.material_instance.material}}</td>
                <td>{{cert.material_instance.instance_allocation}}</td>  
                {% if cert.material_instance.status == 'e' %}
                <td class="table-danger">
                {% elif cert.material_instance.status == 'w' %}
                <td class="table-warning">
                {% else %}
                <td>
                {% endif %}
                {{cert.material_instance.get_status_display}}</td>
                <td>{{cert.validity_end_date}}</td>
                <td>{{cert.get_time_left_days}}</td>
            </tr>
            {% endfor %}    
        </tbody>
    </table>
    {% else %}
    <p>There are no insts in the library.</p>
    {% endif %}
{% else %}

{% endif %}
{% endblock %}

{% endspaceless %}