{% extends 'base_layout.html' %}

{% spaceless %}
{% block title %}Home Page{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <h1>Dashboard</h1>
    <p>Today's Date : {{ date_today }}</p>

    {% if instance_list %}
    <a href="{% url 'core-index' %}?q=all">View all ready</a>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Serial Number</th>
                <th>Item Description</th>
                <th>Allocation</th>
                <th>Item Status</th>
                <th>Expiry Date</th>
                <th>Days Remaining</th>
            </tr>    
        </thead>
        <tbody>{% for cert in instance_list %}{% if cert.material_instance.status != 'r'%}
            {% if cert.material_instance.status == 'e' %}
            <tr class="table-danger">{% elif cert.material_instance.status == 'w' %}
            <tr class="table-warning">{% else %}<tr class="table-info">{% endif %}
                <td>{{cert.material_instance.serial_number}}</td>
                <td>{{cert.material_instance.material}}</td>
                <td>{{cert.material_instance.instance_allocation}}</td>  
                <td>{{cert.material_instance.get_status_display}}</td>
                <td>{{cert.validity_end_date}}</td>
                <td>{{cert.get_time_left_days}}</td>
            </tr>{% endif %}{% endfor %}    
        </tbody>
    </table>
    {% else %}
    <p>Nothing currently requires your attention.</p>
    {% endif %}
{% else %}

{% endif %}
{% endblock %}

{% endspaceless %}