<!DOCTYPE html>
<html lang="en">
    <head>{% load static %}
        <title>{% block title%}Asset Tracker{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <!-- Bootstrap -->
        <link rel="stylesheet" href = "{% static 'css/style.css' %}"  />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- <link href = "framework/css/style.css" rel="stylesheet" /> -->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
                <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif ]]-->
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'core-index' %}"><img src="{% static 'img/logo.jpg' %}" alt="My image"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="{% url 'core-index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Pipework</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">SKIDs</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Slings</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">TMMDEs</a></li>
                </ul>
                <div class="navbar-nav navbar-right btn-group">
                    {% if user.is_authenticated %}
                        <a class="btn btn-danger navbar-btn" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="btn btn-info navbar-btn" href="{% url 'auth-register' %}">Sign Up</a>
                        <a class="btn btn-success navbar-btn" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </div>
            </div>
        </nav>        
        <div class="container content">{% block content %}{% endblock %}</div>

        <footer class="footer">
            <div class="container">
                <span class="text-muted">Place sticky footer content here.</span>
            </div>
        </footer>
        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
        {% block script %}{% endblock %}
    </body>
</html>